body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    & #top {
        text-decoration: none;
        color: #fff;
    }
    & #top:hover {
        text-decoration: underline;
    }
}

#social-media {
    & ul {
        display: flex;
        justify-content: center;
    }
    & ul li {
        border: 1px solid #fff;
        border-radius: 10px;
        margin: 5px;
    }
    & ul li:hover {
        cursor: pointer;
        background-color: rgb(66, 66, 66);
    }
}

#quickview {
    cursor: pointer;
    & summary:hover {
        text-decoration: underline;
    }
    & a:hover {
        text-decoration: underline;
    }
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;

}

header p {
    margin: 5px 0 0;
}

.main {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.info, .education, .skills, .about-me, .projects, .work {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 5px 5px #3333334f;
    overflow: auto;
}

.info h2, .education h2, .skills h2, .about-me h2, .work h2, .projects h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}


th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #333;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #333;
    color: #fff;
    padding: 8px 12px;
    margin: 5px 0;
    border-radius: 5px;
    text-align: center;
    & a {
        text-decoration: none;
        color: white;
        
    }
}

.skills {
    & .skill-name {
        padding: 5px;
    }
    & .pro {
        padding: 5px;
        border: 1px solid transparent;
        background-color: #02913e;
        border-radius: 10px;
    }
    & li:hover {
        background-color: rgb(66, 66, 66);
    }
}
.skills li {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
}

.projects {
    & li {
        background-color: #02913e; /* Light red for Projects */
        color: #fff;
    }
    & li:hover {
        background-color: rgb(66, 66, 66);
    }
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
